[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "VITE_PIXABAY_API_KEY"

[[headers]]
  for = "/*"
  [headers.values]
    Cross-Origin-Opener-Policy = "same-origin"
    Cross-Origin-Embedder-Policy = "credentialless"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
